  
    .first {
        max-width: 100%;
        height: 100%;
        background-image: url(http://cs425729.vk.me/v425729136/4e67/6abwVXLTK9s.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

   /*
    .logo, a {
        color: black;
    }
    .logo {
        float: left;
        padding: 20px;
    }
    nav {
        float: right;
        padding: 5px;
    }
    nav ul {
        text-align: right;
        position: relative;
        padding: 20px;
        margin-right: 5px;
    }
    nav ul li{
        display: inline-block;
        padding-left: 100px;
    }
    */

    #projects {
        padding: 70px;
        height: 100vh;
    }