a {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;

}

body > .container {
    padding-top: 60px;
}

.container:after {
    content: '';
    position: absolute;
    background: #f2e2e2;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-image: url(../logo_circle.png);
    width: 75px;
    height: 75px;
    z-index: 1;
    border-radius: 45px;
    bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border: 3px solid #1e0004;  
    -webkit-box-shadow: 0 10px 10px -6px black;
}   

    #wrap {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      /* Negative indent footer by it's height */
      margin: 0 auto -60px;
    }

    #push {
        height: 60px;
    }

    .first {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        position:relative; 
        background: url(../lyuba_final.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }  

    .transparent_box {
        float: right;
        width: 70vmin;
        height: 20vmin;
        background-color: black;
        position: relative;
        margin: 280px 130px auto;
        border-radius: 15px;
        opacity: 0.5;
        fontilter: alpha(opacity=50); 
        -moz-opacity:0.5;
    }

    .transparent_box #intro_text {
        color: white;
        position: relative;
        margin: 35px 10px 0px 10px;
        font-size: 230%;
        text-align: center;
    }


    .my_font_for_navbar {
        font-size: 15px;
        line-height: 13px;
        font-family: Verdana, Geneva, sans-serif;
        font-weight: bold;
    }

    .special_hover .nav li a {
        position: relative;
        color: #893843;
    }

    .special_hover .nav li a {
        font-weight: 1000;
        text-shadow: none;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .special_hover .nav li a:hover {
        -webkit-filter: brightness(0%);
        color: #893843;
    }

    .my_arrow{
        display:block;
        width:50px;
        height:50px;
        position:absolute;
        bottom:0px;
        left:50%;
        background-size: cover;
        background-image:url(../arrow_transparent.png);
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }
    .my_arrow:hover{
        background-image:url(../arrow.png);
        cursor:pointer;
    }

    .grain {
        background-image: url(http://cs311531.vk.me/v311531136/b93f/_DcHSI7sYIk.jpg); 
        background-attachment: fixed;
    }
    /*
    .second {
        z-index: 20;
    }
    */
 
    #projects {
        padding: 80px;
        min-height: 100vh;
        margin-right: 60px;
        margin-left: 60px;
    }

    #projects h1 {
        margin-bottom: 50px;
        font-family: Verdana, Geneva, sans-serif;
        font-weight: bold;
    }

    #projects p {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 25px; 
        font-size: 1.9vw;
        margin-bottom: 15px;
        text-indent: 60px;
    }

    #last {
        margin-top: 30px;
    }


    #learning {

        width: 100%;
        height: 100%;
        background-attachment: fixed;
        position:relative; 
        background: url(http://cs311531.vk.me/v311531136/b98f/8U67rd11hoM.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        /*
        padding: 100px;
        margin-right: 30px;
        margin-left: 30px;
        width: 100%;
        height: 100%;
        */
    }

    #learning h1 {
        padding-top: 80px;
        padding-left: 70px;
        color: white;
        margin-left: 60px;
        font-weight: bold;
    }

    #learning h2 {
        padding-top: 5px;
        padding-left: 100px;
        color: white;
    }

    #learning img {
        float:right;
        width: 10vmin;
        height: 5vmin;
    }

    #learning li {
        line-height: 1.2em;
        height: auto;
        display: block;
        padding-top: 15px;
        padding-left: 10px;
        color: white;
    }

    .col-md-3 h2 {
        font-size: 150%;
        font-size: 1.5vw;
    }

    .col-md-3 li {

        font-size: 80%;
        font-size: 0.9vw;
    }


    #footer-content {
        position: relative;
        height: 35px;
        width: 100%;
        display: block;
        margin: 0 auto;
        overflow: hidden;
    }

    #my_logo {
        position: relative;
        height: 30px;
        background: url(http://www.trueorfalsexl.net/fileadmin/templates/html/img/downarrow.png) no-repeat left center;
        background-size: cover;
        width: 30px;
        float: left;
        padding-top: 10px; 
    }

    #copyright {
        display: block;
        padding-left: 55px;
        min-width: 500px;
        padding-top: 8px;
        font-size: 90%;
    }

    #copyright h4>strong {
        display: block;
    }

    #social_section {
        float:right;
        display: inline-block;
        width: 550px;
        padding-left: 30px;
    }

    #social_section ul li {
        text-decoration: none;
        display: inline-block;
        margin-left: 70px;
        margin-top: 5px;
    }

    .facebook-link {
        background: url('../64/fb.png') no-repeat;
        display: block;
        float: left;
        width: 30px;
        height: 60px;
        text-indent: -999999em;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .facebook-link:hover {
        -webkit-filter: brightness(20%);
    }


    .instagram-link {
        background: url('../64/insta.png') no-repeat;
        display: block;
        float: left;
        height: 60px;
        text-indent: -999999em;
        width: 30px;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .instagram-link:hover {
        -webkit-filter: brightness(20%);
    }

    .linkedin-link {
        background: url('../64/in.png') no-repeat;
        display: block;
        float: left;
        height: 60px;
        text-indent: -999999em;
        width: 30px;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .linkedin-link:hover {
        -webkit-filter: brightness(20%);
    }

    .github-link {
        background: url('../64/cat25.png') no-repeat;
        display: block;
        float: left;
        height: 60px;
        text-indent: -999999em;
        width: 30px;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .github-link:hover {
        -webkit-filter: brightness(20%);
    }

    .contact {
        min-width: 100%;
        min-height: 80%;
    }

    .contact_form {
        position: relative;
        margin: 85px 0px 0px 700px;
    }

    #contact_info {
        min-width: 500px;
        position: relative;
        float: left;
        min-height: 400px;
        margin-left: 40px;
        border-radius: 15px;
    }

    #contact_info ul li {
        text-decoration: none;
        list-style-type: none;
        margin: 20px 0px 0px 0px;
    }

    .social {
        width: 63px;
        height: 63px;
        text-indent: -999999em;
        display: block;
    }

    .gmail {
        background: url('/Users/yudasinal1/Personal_Website/New/Flat Social Media Icons/PNG/gmail.png') no-repeat;
    }

    .facebook {
        background: url('/Users/yudasinal1/Personal_Website/New/Flat Social Media Icons/PNG/facebook.png') no-repeat;
       
    }
    
    .linkedin {
        background: url('/Users/yudasinal1/Personal_Website/New/Flat Social Media Icons/PNG/linkedin.png') no-repeat;

    }

    .skype {
        background: url('/Users/yudasinal1/Personal_Website/New/Picons Social/PNG/56/social-007_skype.png') no-repeat;

    }
    

    form.email p {
        font-size: 15px;
        padding: 0 0 10px 0;
        margin: 0;
    }

    form.email input, form.email textarea {
        font-family: Arial;
        font-size: 15px;
        margin: 0 0 20px 0;
    }

    form.email input {
        background: #f5f5f5;
        padding: 5px;
        border: 1px solid #bbb;
        border-radius: 5px;
    }

    form.email textarea {
        background: #f5f5f5;
        padding: 5px;
        border: 1px solid #bbb;
        border-radius: 5px;
        min-width: 400px;
        min-height: 100px;
    }

    form.email input.send {
        color: #fff;
        background: #222;
        border: #000;
        padding: 10px 25px 10px 25px;
        cursor: pointer;
    }

    #mainwrapper .box {
    cursor: pointer;
    min-height: 50%;
    float: left;
    position: relative;
    overflow: hidden;
    min-width: 20%;
    margin-right: 35px;
    margin-bottom: 20px;

    /*
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
    
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    */
}

#mainwrapper .box ul li {
    display: block;
    text-decoration: none;
    text-align: left;
    font-size: 16;
    line-height: 150%;
}

#mainwrapper h2{
    position: absolute;
}

#mainwrapper .box img {
    position: absolute;
    height: auto;
    width: auto;
    display: block;
    max-width:450px;
    max-height:200px;
    left: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;

    opacity: 0.6;
}


#mainwrapper .box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out; 
        transition: all 300ms ease-out;
}

#mainwrapper .box .fade-caption{
    opacity: 0;
    min-width: 20%;
    min-height: 50%;
    padding: 20px 0px 0px 0px;
}

#mainwrapper .box:hover .fade-caption {
    opacity: 1;
}


    