      
    #wrap {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      /* Negative indent footer by it's height */
      margin: 0 auto -60px;
    }

    #push {
        height: 60px;
    }

    .first {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        position:relative; 
        background: url(http://cs608322.vk.me/v608322136/2ea5/DPTUIQV18Ic.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }  

    .transparent_box {
        float: right;
        min-width: 100vmin;
        min-height: 20vmin;
        background-color: black;
        position: relative;
        margin-top: 220px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 15px;
        position: fixed;
        z-index: 0;
        opacity: 0.5;
        fontilter: alpha(opacity=50); 
        -moz-opacity:0.5;
    }

    #intro_text {
        color: white;
        position: relative;
        margin-left: 10px;
    }


    .my_font_for_navbar {
        font-size: 15px;
        line-height: 13px;
        font-family: young;
    }

    .special_hover .nav li a {
        position: relative;
        color: black;
    }

    .special_hover .nav li a {
        font-weight: 1000;
        text-shadow: none;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .special_hover .nav li a:hover {
        -webkit-filter: brightness(0%);
        color: yellow;
    }

    .my_arrow{
        display:block;
        width:50px;
        height:50px;
        position:absolute;
        bottom:0px;
        left:50%;
        background-size: cover;
        background-image:url(/Users/yudasinal1/Personal_Website/New/arrow_transparent.png);
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }
    .my_arrow:hover{
        background-image:url(/Users/yudasinal1/Personal_Website/New/arrow.png);
        cursor:pointer;
    }

    .second {
        z-index: 20;
    }
 
    #projects {
        padding: 80px;
        min-height: 100vh;
        margin-right: 60px;
        margin-left: 60px;
    }

    #projects h1 {
        margin-bottom: 50px;
    }

    #projects p {
        font-size: 25px; 
        margin-bottom: 15px;
        text-indent: 60px;

    }

    #last {
        margin-top: 50px;
    }

    .keyboard img {
        position: relative;
        margin-top: 50px;
        width: 100%;    
    }

    #citation {
        position: relative;
        padding: 60px 0px 0px 60px;
    }

    #learning {
        padding: 100px;
        margin-right: 30px;
        margin-left: 30px;
        width: 100%;
        height: 100%;
    }

    #footer-content {
        position: relative;
        height: 35px;
        width: 100%;
        display: block;
        margin: 0 auto;
        overflow: hidden;
    }

    #my_logo {
        position: relative;
        height: 30px;
        background: url(http://www.trueorfalsexl.net/fileadmin/templates/html/img/downarrow.png) no-repeat left center;
        background-size: cover;
        width: 30px;
        float: left;
        padding-top: 10px; 
    }

    #copyright {
        display: block;
        padding-left: 55px;
        min-width: 500px;
        padding-top: 8px;
    }

    #copyright h4>strong {
        display: block;
    }

    #social_section {
        float:right;
        display: inline-block;
        width: 550px;
        padding-left: 30px;
    }

    #social_section ul li {
        text-decoration: none;
        display: inline-block;
        margin-left: 70px;
        margin-top: 5px;
    }

    .facebook-link {
        background: url('/Users/yudasinal1/Personal_Website/New/icons/1.png') no-repeat;
        display: block;
        float: left;
        width: 30px;
        height: 60px;
        text-indent: -999999em;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .facebook-link:hover {
        -webkit-filter: brightness(20%);
    }


    .instagram-link {
        background: url('/Users/yudasinal1/Personal_Website/New/icons/2.png') no-repeat;
        display: block;
        float: left;
        height: 60px;
        text-indent: -999999em;
        width: 30px;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .instagram-link:hover {
        -webkit-filter: brightness(20%);
    }

    .linkedin-link {
        background: url('/Users/yudasinal1/Personal_Website/New/icons/4.png') no-repeat;
        display: block;
        float: left;
        height: 60px;
        text-indent: -999999em;
        width: 30px;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .linkedin-link:hover {
        -webkit-filter: brightness(20%);
    }

    .github-link {
        background: url('/Users/yudasinal1/Personal_Website/New/icons/3.png') no-repeat;
        display: block;
        float: left;
        height: 60px;
        text-indent: -999999em;
        width: 30px;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .github-link:hover {
        -webkit-filter: brightness(20%);
    }

    .contact {
        min-width: 100%;
        min-height: 80%;
    }

    .contact_form {
        position: relative;
        margin: 85px 0px 0px 700px;
    }

    #contact_info {
        min-width: 500px;
        position: relative;
        float: left;
        min-height: 400px;
        margin-left: 40px;
        border-radius: 15px;
    }

    #contact_info ul li {
        text-decoration: none;
        list-style-type: none;
        margin: 20px 0px 0px 0px;
    }

    .social {
        width: 63px;
        height: 63px;
        text-indent: -999999em;
        display: block;
    }

    .gmail {
        background: url('/Users/yudasinal1/Personal_Website/New/Flat Social Media Icons/PNG/gmail.png') no-repeat;
    }

    .facebook {
        background: url('/Users/yudasinal1/Personal_Website/New/Flat Social Media Icons/PNG/facebook.png') no-repeat;
       
    }
    
    .linkedin {
        background: url('/Users/yudasinal1/Personal_Website/New/Flat Social Media Icons/PNG/linkedin.png') no-repeat;

    }

    .skype {
        background: url('/Users/yudasinal1/Personal_Website/New/Picons Social/PNG/56/social-007_skype.png') no-repeat;

    }
    

    form.email p {
        font-size: 15px;
        padding: 0 0 10px 0;
        margin: 0;
    }

    form.email input, form.email textarea {
        font-family: Arial;
        font-size: 15px;
        margin: 0 0 20px 0;
    }

    form.email input {
        background: #f5f5f5;
        padding: 5px;
        border: 1px solid #bbb;
        border-radius: 5px;
    }

    form.email textarea {
        background: #f5f5f5;
        padding: 5px;
        border: 1px solid #bbb;
        border-radius: 5px;
        min-width: 400px;
        min-height: 100px;
    }

    form.email input.send {
        color: #fff;
        background: #222;
        border: #000;
        padding: 10px 25px 10px 25px;
        cursor: pointer;
    }

    #mainwrapper .box {
    cursor: pointer;
    min-height: 40%;
    float: left;
    position: relative;
    overflow: hidden;
    min-width: 20%;
    background-color: red;
    margin-right: 35px;
    margin-bottom: 20px;

    /*
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
    
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    */
}

#mainwrapper .box ul li {
    display: block;
    text-decoration: none;
    text-align: left;
    font-size: 16;
    line-height: 150%;
}


#mainwrapper .box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out; 
        transition: all 300ms ease-out;
}

#mainwrapper .box .fade-caption{
    opacity: 0;
    min-width: 20%;
    min-height: 40%;
    padding: 20px 0px 0px 0px;
}

#mainwrapper .box:hover .fade-caption {
    opacity: 1;
}


    